In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. Bagaimana distribusi penjualan produk di e-commerce?
2. Bagaimana performa sellers dalam penggunaan e-commerce?

In [3]:
customers_df = pd.read_csv('./E-commerce Public Dataset/customers_dataset.csv')
customers_df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [25]:
products_df = pd.read_csv('./E-Commerce Public Dataset/products_dataset.csv')
products_df.isnull().sum()
products_df.dropna(inplace = True)
products_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32340 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32340 non-null  object
 1   product_category_name       32340 non-null  object
 2   product_name_lenght         32340 non-null  float64
 3   product_description_lenght  32340 non-null  float64
 4   product_photos_qty          32340 non-null  float64
 5   product_weight_g            32340 non-null  float64
 6   product_length_cm           32340 non-null  float64
 7   product_height_cm           32340 non-null  float64
 8   product_width_cm            32340 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.5+ MB

In [26]:
product_categories_df = pd.read_csv('./E-Commerce Public Dataset/product_category_name_translation.csv')
product_categories_df.head()
product_categories_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [27]:
products_product_categories_df = pd.merge(
    left = product_categories_df,
    right = products_df,
    how = 'inner',
    left_on = 'product_category_name',
    right_on = 'product_category_name'
)
products_product_categories_df.head()

,product_category_name,product_category_name_english,product_id,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,beleza_saude,health_beauty,e3e020af31d4d89d2602272b315c3f6e,58.0,1987.0,3.0,75.0,21.0,7.0,13.0
1,beleza_saude,health_beauty,c5d8079278e912d7e3b6beb48ecb56e8,60.0,330.0,1.0,1300.0,19.0,28.0,17.0
2,beleza_saude,health_beauty,36555a2f528d7b2a255c504191445d39,51.0,1069.0,1.0,1467.0,23.0,16.0,20.0
3,beleza_saude,health_beauty,e586ebb6022265ae1eea38f46ffe3ead,40.0,1469.0,3.0,1050.0,18.0,21.0,27.0
4,beleza_saude,health_beauty,75b4372e69a42f8ae1d908c076f547b2,22.0,1313.0,1.0,938.0,29.0,22.0,23.0

In [29]:
order_items_df = pd.read_csv('./E-Commerce Public Dataset/order_items_dataset.csv')
order_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [30]:
products_product_categories_order_items_df = pd.merge(
    left = products_product_categories_df,
    right = order_items_df,
    how = 'inner',
    left_on = 'product_id',
    right_on = 'product_id'
)
products_product_categories_order_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111022 entries, 0 to 111021
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   product_category_name          111022 non-null  object
 1   product_category_name_english  111022 non-null  object
 2   product_id                     111022 non-null  object
 3   product_name_lenght            111022 non-null  float64
 4   product_description_lenght     111022 non-null  float64
 5   product_photos_qty             111022 non-null  float64
 6   product_weight_g               111022 non-null  float64
 7   product_length_cm              111022 non-null  float64
 8   product_height_cm              111022 non-null  float64
 9   product_width_cm               111022 non-null  float64
 10  order_id                       111022 non-null  object
 11  order_item_id                  111022 non-null  int64
 12  seller_id                      111022 non-null  object
 13  shipping_limit_date            111022 non-null  object
 14  price                          111022 non-null  float64
 15  freight_value                  111022 non-null  float64
dtypes: float64(9), int64(1), object(6)
memory usage: 13.6+ MB

In [39]:
sum_products_df = products_product_categories_order_items_df.groupby(by = ['product_category_name', 'product_category_name_english']).agg({
    'product_id': 'count'
}).reset_index().sort_values(by = 'product_id', ascending = False)
sum_products_df.head()

     product_category_name product_category_name_english  product_id
13         cama_mesa_banho                bed_bath_table       11115
11            beleza_saude                 health_beauty        9670
32           esporte_lazer                sports_leisure        8641
54        moveis_decoracao               furniture_decor        8334
44  informatica_acessorios         computers_accessories        7827

In [40]:
sum_products_df.to_csv('sum_products_df.csv', index = False)

In [42]:
sellers_df = pd.read_csv('./E-Commerce Public Dataset/sellers_dataset.csv')
sellers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [45]:
sellers_order_items_df = pd.merge(
    left = sellers_df,
    right = order_items_df,
    how = 'inner',
    left_on = 'seller_id',
    right_on = 'seller_id'
)
sellers_order_items_df.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state,order_id,order_item_id,product_id,shipping_limit_date,price,freight_value
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,4a90af3e85dd563884e2afeab1091394,1,ffb64e34a37740dafb6c88f1abd1fa61,2017-08-25 20:50:19,106.20,9.56
1,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,6d953888a914b67350d5bc4d48f2acab,1,f4621f8ad6f54a2e3c408884068be46d,2017-05-11 16:25:11,101.70,15.92
2,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,bc8a5de6abf5b14f98a6135a7fb46731,2,325a06bcce0da45b7f4ecf2797dd40e4,2017-09-05 12:50:19,10.80,2.42
3,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP,035201c3c82a97f8a25dd6bd5244b2d5,1,1c36a5285f7f3b1ed2637d7c528ce5ff,2017-11-22 04:30:29,89.99,45.09
4,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP,0504447548229e075dea8441b37b1e2a,1,8852eb03b04ec3268a66e9b696e25f6f,2017-10-06 02:14:42,199.90,21.89

In [47]:
sum_sellers_df = sellers_order_items_df.groupby(by = 'seller_city').agg({
    'product_id': 'count',
    'order_item_id': 'count',
    'price': 'sum'
}).reset_index().sort_values(by = ['price'], ascending = False)
sum_sellers_df.head()

        seller_city  product_id  order_item_id       price
517       sao paulo       27983          27983  2702878.14
227        ibitinga        7750           7750   624592.94
159        curitiba        3016           3016   470759.82
450  rio de janeiro        2442           2442   358413.59
220       guarulhos        2362           2362   329494.38

In [48]:
sum_sellers_df.to_csv('sum_sellers_df.csv', index = False)